<div class='commentbox'></div>

<script src='https://unpkg.com/commentbox.io/dist/commentBox.min.js'></script>

{{!-- Replace `my-project-id` with your CommentBox Project ID --}}

<script>
  commentBox('my-project-id');
</script>