{{!--
  All you need to do is to: Register your domain with Commento
  https://docs.commento.io/installation/self-hosting/register-your-website/
--}}

<div id='commento'></div>

<script defer src='https://cdn.commento.io/js/commento.js'></script>