{{!< default}}

{{#post}}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-archive'>
        <h1 class='c-archive__title'>{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class='o-grid'>
    {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
      {{#foreach tags}}
        {{> card-tag }}
      {{/foreach}}
    {{/get}}
  </div>
</div>

{{/post}}