{{!< default}}

<div class='o-wrapper'>
  {{> banner }}

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{> pagination }}
  </div>

  {{!-- {{> index-authors }} --}}

  {{!-- {{> shop-slide}} --}}

  {{#match @custom.shop_display_status "on"}}
  <div class="c-home-products-carousel">
    <div class="o-grid">
      <div class="o-grid__col o-grid__col--full">
        {{> common/products/carousel-section which="home" nav="true" }}
      </div>
    </div>
  </div>
  {{/match}}
</div>