{{!< default}}

<div class='o-wrapper'>

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{ pagination }}
  </div>

  <div class='o-grid'><hr></div>

  <div class='o-grid'>
    {{> index-tag-columns }}
  </div>

  <div class='o-grid'><hr></div>
  <div class='o-grid'><hr></div>

  {{> index-authors }}
  
</div>