{{!< default}}

{{> shop/featured }}

<div class="c-shop-category">
  <div class="o-grid">

    <div class="c-shop-category__tags">
      {{> shop/tags type="all" }}
    </div>

    {{bluedot_products}}
  </div>
</div>