{{!< default}}

<main class='o-wrapper'>
    <article>
        <div class='o-grid'>
            <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s'>
                {{bluedot_search}}
            </div>
        </div>
    </article>
</main>