// *----------------------------------*\
//  Settings > Global
// *----------------------------------*/

$global-transition: 500ms;
$global-faster-transition: .26s;
$global-border-radius: 2px;
$global-letter-spacing: .5px;