// *----------------------------------*\
//  Settings > Spaces
// *----------------------------------*/

// 8 Point Grid System
// Penang is using a `8 Point Grid System` for sizing and to layout elements,
// this means that any padding or margin, ... is always a multiple of 8 pixels

$space-2: 2px;
$space-8:  8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;
$space-72: 72px;
$space-80: 80px;
$space-88: 88px;
$space-96: 96px;
$space-104: 104px;
