/*------------------------------------*\
  Components > Card Author
\*------------------------------------*/

.c-card-author {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $space-24;
  background-color: var(--bg-gray);
  border-radius: $space-8;

  @include mq($from: tablet) {
    padding: $space-32;
  }

  &-wrap {
    display: flex;
    margin-bottom: $space-24;

    @include mq($from: desktop) {
      margin-bottom: $space-48;
    }
  }

  &__media {
    width: $space-64;
    height: $space-64;
    border-radius: 100%;
    margin-right: $space-16;
    background-color: var(--bg-color);
  }

  &__image {
    object-fit: cover;
    width: $space-64;
    height: $space-64;
    min-width: $space-64;
    border-radius: 100%;
    box-shadow: 0 0 0 half($space-8) var(--bg-color);
  }

  &__name {
    font-size: $type-sm;
    line-height: $type-sm-lh;
    font-weight: $type-700;
    margin-bottom: 0;
    transition: $global-transition;
    letter-spacing: $global-letter-spacing;
  }

  &__bio {
    margin: 0;
    color: var(--color-gray);
    font-size: $type-xs;
    line-height: $type-xs-lh;
  }

  @include attention() {
    color: var(--color-brand);
  }
}