/*------------------------------------*\
  Components > Color Mode Button
\*------------------------------------*/

.c-color-mode-btn {
  height: $space-24;
  display: flex;
  align-items: center;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;

  &__icon {
    width: 14px;
    height: 14px;
    background-image: var(--color-mode-icon);
    background-repeat: no-repeat;
    filter: var(--color-mode-icon-filter);
  }
}