<a class="{{#match type "=" "all"}}active{{/match}}" href="/shop/">전체보기</a>
<a class="{{#match type "=" "online-class"}}active{{/match}}" href="/shop/online-class/">온라인 강좌</a>
<a class="{{#match type "=" "webinar"}}active{{/match}}" href="/shop/webinar/">이벤트</a>
<a class="{{#match type "=" "digital-book"}}active{{/match}}" href="/shop/digital-book/">디지털 북</a>
<a class="{{#match type "=" "etc"}}active{{/match}}" href="/shop/etc/">기타</a>