{{!< ../default}}

<div class="bluedot-wrapper">
  <main class="bluedot-main bluedot-signin outer">
      <div class="inner">
          <h1 class="signin-title">{{t 'Subscription Plans'}}</h1>
          <h3 class="signin-subtitle">{{{@site.paywall.paywallMessage}}}</h3>

          <div class="price-info-wrap light">
              {{bluedot_price}}
          </div>
      </div>
  </main>
</div>