/*------------------------------------*\
  Trumbs > Colors
\*------------------------------------*/

.u-color-gray {
  color: var(--color-gray);
}

.u-color-error {
  color: var(--color-error);
}

.u-color-success {
  color: var(--color-success);
}