/*------------------------------------*\
  Trumbs > Spacing
\*------------------------------------*/

.u-mt-8 {
  margin-top: $space-8;
}

.u-mt-16 {
  margin-top: $space-16;
}

.u-mb-16 {
  margin-bottom: $space-16;
}

.u-mb-32 {
  margin-bottom: $space-32;
}